@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth; 
}

:root {
    --black: #000;
    --white: #fff;
    --green: #00FF00;
    --sec-green: #48B623;
    --thr-green: #198909;
    --young-green: A2F066;
    --transparant-green: #E6FFD6;
    --gray: #F2F2F2;
    --blue: #529FF7;
    --secondary-blue: #408BE2;
    --young-blue: #E7F2FF;
}

::-webkit-scrollbar {
    width: 10px;

}

::-webkit-scrollbar-thumb {
    background: var(--secondary-blue);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background: var(--white);
}
 
body {
   overflow-x: hidden; 
}

/* ========== SPLASH SCREEN ==========*/
.intro {
	position: fixed;
	z-index: 100;
	left: 0;
	text-decoration: 0;
	width: 100%;
	height: 100vh;
	background: var(--blue)/*linear-gradient(to right, #2B7A78, #3AAFA9, #3AAFA1)*/;
	transition: 1s;
}

.logo-header {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #EDF5E1;
}

.logo {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
	font-size: 24px;
}

.logo.active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.logo.fade {
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 1s;
}
/* ========== END SPLASH SCREEN ========== */

/* ========== NAVBAR ========== */
nav {
	width: 100%;
	padding: 10px 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	background: transparent;
	z-index: 5;
}

.nav-logo {
	color: var(--white);
	font-size: 20px;
}

.logout a {
	color: var(--white);
	text-decoration: none;
}
/* ========== END NAVBAR ========== */


/* ========== LANDPAGE ========== */
.landpage {
	width: 100%;
	height: 100vh;
	background: url(../img/bg-landpage-thailand.jpg);	
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
}

.layer {
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
}

/* LEFTSIDE */
.left-text-content {
	width: 50%;
	height: 100vh;
	list-style: none;
	display: flex;
	align-items: center;
	z-index: 3;
}

.grouping-text {
	width: 100%;
	height: 55vh;
	padding: 20px 0 20px 60px;
}

.grouping-text .name {
	width: 100%;
}

.name h1 {
	color: var(--white);
	font-size: 60px;
}

.description {
	width: 90%;
	text-align: justify;
	font-size: 16px;
	color: var(--white);
}

.btn-group {
	width: 290px;
	display: flex;
	justify-content: space-between;
}

.btn-contact {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
}

.btn-contact a {
	text-decoration: none;
	padding: 10px 17px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-right: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(1, 1, 1, 0.3);
	color: var(--white);
}

.btn-contact a:hover {
	color: var(--white);
}

/* FOOTER */
footer {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
}

.container {
	width: 950px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.contact-menu {
	width: 50%;
	height: 100%;
	padding-top: 7px;
}

.title-contact {
	padding-top: 20px;
	font-size: 34px;
	font-weight: bold;
	color: var(--white);
}

.grouping-contact {
	height: 60vh
	background: red;
}

.contact-menu .grouping-contact form {
	width: 400px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contact-menu .grouping-contact form input {
	width: 400px;
	padding: 12px;
	outline: none;
	font-size: 14px;
	border: none;
	border-radius: 7px;
}

.contact-menu .grouping-contact form textarea {
	width: 400px;
	height: 120px;
	padding: 12px;
	margin: 5px;
	outline: none;
	border: none;
	border-radius: 7px;
	font-size: 17px;
}

.contact-menu .grouping-contact form button {
	width: 400px;
	padding: 8px 12px;
	background: var(--blue);
	color: var(--white);
	font-size: 14px;
	border: solid 1px #ddd;
	transition: all 0.5s;

}

.contact-menu .grouping-contact form button:hover {
	background: var(--secondary-blue);
	color: var(--young-blue);
}

.content-footer {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100%;
}

.footer-sm {
	width: 50%;
	height: 100%;
	padding-top: 30px;
	line-height: 25px;
	font-size: 16px;
}

.footer-sm .about {
	width: 100%;
	height: 50%;
	display: flex;
	align-items: center;
	color: var(--white);
}

.title-sm {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

/* ========== END LANDPAGE ========== */

/* RESPONSIVE */
@media screen and (max-width:576px) {
nav {
	padding: 10px 40px;
}

.landpage {
	width: 576px;
	height: 100vh;
	flex-wrap: wrap;
}

.layer {
	height: 100vh;
}

/* LEFTSIDE */
.left-text-content {
	width: 576px;
}

.grouping-text {
	width: 576px;
	padding: 0 40px;
}

.description {
	width: 100%;
}

